name: Python Test

on:
  push:
    branches: [ "main" ]

jobs:
  test:
    runs-on: ubuntu-latest
    
    steps:
    - uses: actions/checkout@v4
    
    - name: Python kur
      uses: actions/setup-python@v4
      with:
        python-version: "3.11"
    
    - name: Paketleri yükle
      run: |
        pip install fastapi uvicorn
    
    - name: Python çalıştır
      run: |
        python main.py &
        sleep 3
        echo "✅ Python çalışıyor!"
